[2013-05-24 15:08] liuggio opened #1 "correct Functional test, ugly output by imagepng on the console"
BadgeController uses imagepng, but during the in functional test, it output the image on the console.

[2013-05-24 20:38] #1 closed, assigned to nobody

[2013-05-29 08:34] leopro opened #4 "lib name"
as for other our libs, I suggest using a camelcase name i.e. PUGXBadgePoser

[2013-05-29 09:31] liuggio opened #6 "[RFC] Unstable repository"
What to do with all the repositories that doesn't have the stable version?

Now: ![Daily Downloads](http://poser.pagodabox.com/pugx/badge-poser/stable.png)

As  @leopro  said we could print a yellow image (instead blue)
with the latest dev version, instead of `stable` the word: `dev`

[2013-05-29 09:39] liuggio opened #7 "Coding Standard and PHPdoc"
For all the classes and functions should be created PHP doc.

[2013-05-29 09:48] liuggio opened #8 "Controller, service definition"
as @garak suggested,
should be great instantiate the controller as a service by passing the argument to the construct and the request in the actions.

[2013-05-29 09:57] liuggio opened #9 "Homepage, Documentation"
We need an homepage, in the root of the website
or
- documentation with readthedocs and rst

or
- just a simple twig page

Content of the page:

how to add to the badges in your `markdown`, `rst`, `asciidoc`, `html` ...

[2013-05-29 10:03] liuggio opened #10 "favicon"
remove the sf favico and add a very `poser` favicon

[2013-05-29 13:55] #4 closed, assigned to liuggio

[2013-05-29 16:31] liuggio opened #12 "clean symfony distribution, removing not used components."
Need to understand if some components are to keep:
Doctrine / JMSDIextra / SensioFrameworkExtra ..

[2013-05-30 13:03] agiuliano opened #15 "Move routes into annotations"
I was thinking about the routes.
I think it's better to move them into annotations in controller. This because of the facility to find the correct behaviour in the correct controller without open two files for checking it.
If you agree, I can PR this issue in a short time :)

[2013-05-30 14:07] #15 closed, assigned to nobody

[2013-05-30 14:34] agiuliano opened #18 "Cache the request and the images"
we have to think about caching the request to packagist api and limit the images generation in order to avoid to send continously request to packagist api with the same burst of data.

[2013-06-01 07:21] liuggio opened #25 "better position and size on the stable/unstable version"
The ImageCreator should have a function the put the text in the center, and if the version is bigger, it should reduces the size

[2013-06-01 07:45] #10 closed, assigned to nobody

[2013-06-01 07:46] #8 closed, assigned to nobody

[2013-06-01 07:48] liuggio opened #26 "the `President` issue. He has to love to this project"
The president aka @garak MUST do something.

[2013-06-01 10:13] #6 closed, assigned to nobody

[2013-06-01 10:18] liuggio opened #28 "Copyright and LICENSE"
the license and the (c) are with my name.

Is possible put PUGX something?

[code]

[2013-06-01 11:18] #9 closed, assigned to nobody

[2013-06-01 11:55] liuggio opened #31 "add a JS helper"
IPSE DIXIT: "well I guess it could benefit from a touch of JS so you can type a package name and get links ready made for your package."

[2013-06-01 12:12] liuggio opened #32 "collect usage statistics"
quite big task,
I was thinking that could be great adding a sort of counter (maybe with redis) in order to store statistic on usage.

[2013-06-01 13:53] giorrrgio opened #35 "Switch to Imagine"
Improving OOP, we could move from direct gd ext calls to [avalanche123/Imagine](https://github.com/avalanche123/Imagine) classes.

[2013-06-01 14:00] garak opened #36 "[YAGNI] get rid of unuseful exceptions"
Just use PHP ones.

[2013-06-04 19:54] liuggio opened #41 "[RFC] Show statistics"
When the #39 will be approved,
we'll have
1. total number of badges showed.
2. given a repository for example "pugx/badge-poser".
   1. total number of badges showed for this repo.
   2. total number of badges showed for each type for this repo.
3. a set of last repositories that requested the badges.

The questions: how, where and what shows?

[2013-06-05 07:23] liuggio opened #42 "migrate to sf2.3"
symfony 2.3 is out who'd like to do the migration?

[2013-06-05 08:35] #32 closed, assigned to nobody

[2013-06-05 08:37] #18 closed, assigned to agiuliano

[2013-06-05 09:26] agiuliano opened #43 "Don't test the protected/private method"
As Sebastian himself says, the private methods have to be tested indirectly

[2013-06-05 09:46] liuggio opened #44 "move statistic to an other bundle"
I think that statistic shouldn't be on the same bundle of the creation of the badge.

the sub folder here is a smelling point:  `PUGX/BadgeBundle/Service/Statistic`.

[2013-06-05 13:41] #42 closed, assigned to agiuliano

[2013-06-05 13:41] #12 closed, assigned to nobody

[2013-06-05 14:28] #26 closed, assigned to garak

[2013-06-06 07:40] #44 closed, assigned to nobody

[2013-06-06 07:40] #31 closed, assigned to nobody

[2013-06-06 11:11] liuggio opened #52 "javascript error"
there's an error on the homepage

[code]

[2013-06-06 14:41] #52 closed, assigned to liuggio

[2013-06-06 22:06] #36 closed, assigned to nobody

[2013-06-07 09:18] liuggio opened #58 "Optimization part 2 - API caching"
as @giorrrgio and @agiuliano suggested,
now that we have http-caching #18,
we should care about the Packagist Api.

I profiled the application (and the filesystem is so fast compared to the request/response).

Maybe could be great use the LiipCacheBundle in order to store the packagist request/response.

Other ideas? any other that profiled the application? anyone who wants to do this `cool` task?

[2013-06-07 14:21] liuggio opened #59 "Improving UX usability on the homepage."
Could be great to give a little love to the UX.

[2013-06-07 14:22] #28 closed, assigned to nobody

[2013-06-07 14:41] #59 closed, assigned to nobody

[2013-06-11 05:38] rogeriopradoj opened #63 "[RFC] Suggestion to remove v prefix in versions name (http://semver.org)"
Hello, @PUGX.

Just a suggestion: could you use version names without the prefix in order to stay closer with <del>http://server.org </del>http://semver.org/?

Example: 1.0.0, 1.0.0-RC etc...

What do you guys thinks?

[2013-06-11 16:17] eux opened #65 "not found repos are logged in stats"
when I did the tests of the stats I noticed that when a wrong repo is requested the stats function is called.

For example during the test `\PUGX\BadgeBundle\Tests\Controller\BadgeControllerTest::testIfPackageDoesntExist` the stats are called with the used wrong repo name.

Is this a desired behaviour?

[2013-06-13 18:59] #63 closed, assigned to nobody

[2013-06-18 09:00] agiuliano opened #71 "Total test refactoring"
We have to remove all test with reflection methods

[2013-06-19 13:20] liuggio opened #72 "Better UX: retina ready, same width, better visualization of '.'"
-  ~~as commented here: https://github.com/symfony/symfony/pull/8308#issuecomment-19681622 could be great to be retina ready.~~   Is not possible to do it because the markdown specification does not allow to specify image dimension.
- [x] the badges now have different widths (1 pixel of diff)
- [x] if you see this ![poser](https://poser.pugx.org/ocramius/proxy-manager/downloads.png) the dot readab

[2013-06-21 12:46] agiuliano opened #73 "Add the possibility to click on the badge"
As subject suggests, it'd was cool if the badge would be a link directed to the pugx's page.
In this way an user interested to apply a badge for his project, could find an easy way to generate his own.
In particular, the page linked by the bedges will point to a page (in pugx.io site) with all the statistics information we have about the project but as addiction it'll be a link `create you own bad

[2013-06-21 14:39] havvg opened #74 "latest stable badge invalid"
The badge for latest stable version is invalid.

Example: https://github.com/liip/LiipImagineBundle#liipimaginebundle ([![Latest Stable Version](https://poser.pugx.org/liip/imagine-bundle/v/stable.png)](https://packagist.org/packages/liip/imagine-bundle))

The badge reads `v0.9.4` but the most recent stable version is `v0.11.0` https://github.com/liip/LiipImagineBundle/tags.

[2013-06-21 15:31] #74 closed, assigned to nobody

[2013-06-24 00:13] stof opened #75 "The computation of latest version is flawed"
The computation of the latest version is flawed for several reasons:
- the comparison is done using `version_compare`, which will not handle `dev-master` properly as being higher than other versions (so it does not match composer behavior). this is a big issue as the latest unstable version is generally the master branch
- the code does handle composer branch aliases (so it does not compare the ma

[2013-06-24 13:34] #75 closed, assigned to nobody

[2013-06-26 17:21] stof opened #77 "The stable version badge displays the unstable version when there is no stable release"
Instead of showing the unstable version, it would be more logical to display `Stable: No release` or something like that. Giving the latest unstable version is a different info.

[2013-08-30 09:25] #35 closed, assigned to nobody

[2013-08-30 12:51] #77 closed, assigned to nobody

[2013-08-30 12:51] #72 closed, assigned to nobody

[2013-08-30 17:25] #25 closed, assigned to nobody

[2013-09-14 07:59] #58 closed, assigned to nobody

[2013-09-23 21:06] giorrrgio opened #81 "readability issue for dev-master unstable badges"
Should we improve readability for dev-master unstable version badges?

e.g.
[![Latest Unstable Version](https://poser.pugx.org/vich/uploader-bundle/v/unstable.png)](https://packagist.org/packages/vich/uploader-bundle)
How about adding a px to the font?

[2013-09-23 21:30] #71 closed, assigned to agiuliano

[2013-10-09 09:02] agiuliano opened #82 "Change the secret"

[2013-11-07 14:44] #82 closed, assigned to agiuliano

[2013-11-08 10:29] liuggio opened #86 "Improving package search similar to the packagist search."
Could be great use the packagist api in order to serve a better search using ajax.
- using the search api https://packagist.org/search.json?search_query[query]=pug

[2013-11-08 10:33] liuggio opened #87 "show in homepage the counter of total badges rendered"
show in homepage the number of total badges rendered

could be great having on `top pull-left` a counter that show the current number of total badges rendered, in redis is `STAT.TOTAL`
- Optional the number increase automatically (is possible without ajax?).

[2013-11-08 10:37] liuggio opened #88 "[story][RFC] v2.0 celebrating the 10 milion badges rendered"
In about 20/25 days the number of rendered badges will reach the glorious number of 10.000.000.

In order to celebrate this great number, could be great introduce some love:

objective of 2.0: Copy snippet to clipboard, better search for a package, package perma-link.
- [x] Copy snippet to clipboard as #85.
- [x] improve package search similar to packagist search #86.
- [x] show in homepage the nu

[2013-11-25 11:39] #87 closed, assigned to nobody

[2013-11-25 17:32] axelitus opened #91 "The unstable badge is not compatible with git-flow"
The unstable version is not compatible with Git Flow, as the branch that is always displayed as unstable is dev master, but Git Flow's unstable branch is dev develop.

Is there a way to specify what the unstable version is or from which branch is the default unstable?

[2013-11-25 21:15] #91 closed, assigned to nobody

[2013-12-20 16:25] garak opened #92 "[Insight] Web bundles/ folder should not be present in repository"
**[in web](https://github.com/PUGX/badge-poser/blob/master/web)**
_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/e576013d-97f5-4292-8d37-7655a09138ea/analyses/2)_

[2013-12-20 16:26] garak opened #93 "[Insight] First level service should not be present in global configuration files"
**[in app/config/config_dev.yml, line 5](https://github.com/PUGX/badge-poser/blob/master/app/config/config_dev.yml#L5)**

[code]

_Posted from [SensioLabsInsight](https://insight.sensiolabs.com/projects/e576013d-97f5-4292-8d37-7655a09138ea/analyses/2)_

[2014-01-09 10:16] giorrrgio opened #96 "New aggregate badge for organizations"
It'd be cool to add a badge for organizations showing the total downloads of all the mantained packages.

[2014-01-11 12:04] Anahkiasen opened #97 "Use Shields to generate badges"
The current badges seem a little "out of place" with all the other ones. It'd be great if they were generated with [Shields](https://github.com/badges/shields) to unify their styles with Travis's, Gittip's and Scrutinizer's, etc. :

![badges](https://raw.github.com/badges/shields/master/static/shields_white.png)

[2014-01-13 09:30] #92 closed, assigned to nobody

[2014-01-13 10:08] #7 closed, assigned to nobody

[2014-01-13 10:12] #86 closed, assigned to nobody

[2014-01-13 13:45] liuggio opened #101 "badges with higher resolution"
to display badges with a higher resolution with the markdown syntax is not possible since it does not allow the width,
but github also allows you to insert html on markdown, so it would be helpful to print badges with higher resolution:

with:

`<img src="http://.../ExcelBundle/v/stable.png?size=double" width='100px'>`
### note:
#97 doesn't allow to create fixed images

[2014-01-13 14:40] liuggio opened #102 "error on assets on deploy"
after #94 I got an error during the deploy.

@hpatoio  please have a look to this bug:
I had problem during `app/console assetic:dump --env=prod`

seems that YUI compressor doesn't like the js

[code]

[2014-01-14 22:53] #102 closed, assigned to nobody

[2014-01-15 13:39] liuggio opened #104 "Adding license badge"
Could be great having a license badges.

![license-mit-blue](https://f.cloud.github.com/assets/530406/1920481/6852447c-7dea-11e3-8b37-4ee7b2c31a4f.png)

[2014-01-15 18:07] liuggio opened #105 "badgifing text (Changing text to badge)"
Could be great instead of having a text
"13126169 badges served so far." an image

![badges_served_so_far-12312312312399-ff00cc](https://f.cloud.github.com/assets/530406/1923099/e236164a-7e0f-11e3-8935-200f0834014b.png)

I used this color: ff00cc

[2014-01-18 20:23] #104 closed, assigned to nobody

[2014-01-18 20:23] #105 closed, assigned to nobody

[2014-01-19 11:12] #97 closed, assigned to nobody

[2014-01-19 11:17] #81 closed, assigned to nobody

[2014-01-19 11:18] #88 closed, assigned to nobody

[2014-01-19 15:03] liuggio opened #107 "permalink disappear when a new search is done"
when a new search is done, the permalink of the repository disappears.

There's a javascript at `/src/PUGX/BadgeBundle/Resources/public/js/snippet.js`

that replaces the content of an h2 deleting the permalink.

[2014-01-19 15:04] liuggio opened #108 "remove show button"
Showing the badges of a repository by a new search, could be made automatically without the on click action.

maybe @hpatoio could suggest a solution.

[2014-01-19 15:42] liuggio opened #109 "On copy to clipboard the code an annoying alert is showed"
Could be great having a 'fancy' css effect instead a old-school alert :)

[2014-01-20 08:37] rdohms opened #110 "Composer package badge"
Would be cool to add a new badge that had something like:

`composer` | `phpunit/phpunit`

So that the package name is also apparent and instantly viewable.

[2014-01-20 16:00] #109 closed, assigned to nobody

[2014-01-20 17:11] #108 closed, assigned to nobody

[2014-03-17 14:50] #107 closed, assigned to nobody

[2014-03-30 15:50] stof opened #115 "Badges are broken"
The request to badges are getting a 500 response currently instead of the badge

[2014-03-30 15:51] stof opened #116 "Mixed content on the website served through HTTPS"
the badge showing the number of badges served so far is always rendered through HTTP even when the page is loaded through HTTPS

[2014-03-30 19:46] #115 closed, assigned to nobody

[2014-04-17 15:12] liuggio opened #117 "[RedisReader]using mget instead of lot of gets"
inside  `totalDataOfAccessesByInterval`
there are a lot of `$value = $this->redis->get($this->getKeyString($interval, $dimension));`
maybe a better implementation could use using `mget`

[2014-05-18 10:54] #93 closed, assigned to nobody

[2014-05-18 11:09] liuggio opened #122 "[RFC] new svg badges BC"
Returning from phpday @claudio-dalicandro and me created in pair prog. an adapter for `svg` badges.

The new badges are beautiful :hamburger:

But all the repos are using the`.png` extension and if we should decide how to add this new :cool: feature...

Solutions:
1. BC solution: requesting a `xyz.png` image you will have a beautiful `xyz.svg` image.
2. Shy solution: we will add this as feature ad

[2014-05-21 20:58] #122 closed, assigned to nobody

[2014-05-21 20:58] #101 closed, assigned to nobody

[2014-05-23 21:32] matteosister opened #125 "problem with "+" in the license badge"
I think that there is a problem rendering the badge with the lgpl-3.0+ license. The "+" sign is displayed as "%2B"

See here: https://github.com/matteosister/GitElephant

[2014-05-25 10:20] #125 closed, assigned to nobody

[2014-05-27 16:45] fulldecent opened #126 "Stable and unstable is not clear"
I have a package on Packageist:
https://packagist.org/packages/fulldecent/cameralife
There is no distinction of Stable or Unstable.

However, Poser tells me:
[![Latest Stable Version](https://poser.pugx.org/fulldecent/cameralife/v/stable.svg)](https://packagist.org/packages/fulldecent/cameralife)
[![Latest Unstable Version](https://poser.pugx.org/fulldecent/cameralife/v/unstable.svg)](https://pack

[2014-05-27 23:02] #126 closed, assigned to nobody

[2014-06-01 21:32] GrahamCampbell opened #127 "All Badges Are Error 500ing"
I assume you're already aware of this?

[2014-06-01 22:00] #127 closed, assigned to nobody

[2014-06-12 14:14] #116 closed, assigned to nobody

[2014-06-28 19:32] graste opened #130 "Badges for PHP-FIG standards"
How about adding badges for the accepted PHP-FIG standards like [PSR-0][1], [PSR-1][2], [PSR-2][3], [PSR-3][4] and [PSR-4][5]? I think it would be nice to see if a project adheres to certain standards (at least those that do try to follow those standards).

[1]: http://www.php-fig.org/psr/psr-0/ "PSR-0 Autoloading Standard"
[2]: http://www.php-fig.org/psr/psr-1/ "PSR-1 Basic Coding Standard"
[3]:

[2014-07-16 03:27] harikt opened #134 "Different versions"
Hi guys,

First I would like to give a great applause to this great job on the badges.

I would like to ask, whether it is possible to keep badges on different branches which are different versions.

Say https://github.com/auraphp/Aura.Router/ has 2 versions.

Version 2 branch is `develop-2` , and version 1 is  `develop` branch.

Is there a way that it can fetch the branch alias from the composer.

[2014-07-21 14:36] #41 closed, assigned to nobody

[2014-07-21 15:00] liuggio opened #135 "Autoload messy with PSR"
Reading composer.json

[code]

Should be great to unify all the namespaces under the PSR-4

[2014-08-03 18:48] mikebronner opened #137 "Badges Not Updating?"
I've noticed that badges have not been updating today. My packages on Packagist are updating, show licenses, etc., but the badges show an old stable version and show no license.
Example: https://github.com/GeneaLabs/bones-macros

[2014-08-14 15:23] #137 closed, assigned to nobody

[2014-12-04 11:32] ryansmith94 opened #140 "No longer working?"
The images appear to have stopped working, they just don't load, the connection times out...

[2014-12-05 09:11] #135 closed, assigned to nobody

[2015-01-13 09:20] #140 closed

[2015-02-07 09:59] dimsav opened #143 "Flat icons support"
I don't see anywhere the support for flat icons. Is this feature already implemented or coming anytime soon?

Thanks!

[2015-02-07 10:07] liuggio commented on #143
This is a good idea

[2015-02-10 21:19] Fefas commented on #143
+1

[2015-03-11 14:16] ramsey commented on #143
+1

[2015-03-11 14:46] liuggio commented on #143
anyone want to do this?

[2015-03-11 15:10] ramsey commented on #143
I thought about taking a look myself to implement, but I'm not sure how to get badge-poser running locally to implement and test.

I notice that Shields has the ability to add `?style=flat` to the end of the URL to generate flat vs. "plastic" style of badge. I'm not familiar with Buckler (which is what it appears you're using here), but if it follows the Shields standard, then perhaps it's a simpl

[2015-03-11 15:27] liuggio commented on #143
Hi this is a symfony2 project and doesn't use buckler
if you want to run this project the readme https://github.com/PUGX/badge-poser#contribution could help you,

BUT

I think the first step is working at this library
It uses a library at https://github.com/badges/poser
and maybe there's to add a new SvgRender called FlatSvgRender or something like that: https://github.com/badges/poser/blob/master

[2015-03-11 15:51] ramsey commented on #143
I'm not sure what the difference is in the projects.

I saw here (#106) that it appears you're using Buckler, which is why I thought you were using Buckler. Sorry for the misunderstanding.

[2015-03-11 15:59] liuggio commented on #143
No problem we have decoupled a library from the website
the library is here https://github.com/badges/poser
We have used bucker but we decided to put it off...

[2015-04-19 21:21] #130 closed

[2015-04-19 21:21] liuggio commented on #130
closed to inactivity

[2015-04-19 23:40] liuggio commented on #143
tadaaaaaa https://github.com/badges/poser/pull/3/files
first step is done

[2015-05-18 13:10] mikehaertl opened #146 "Badges are not served anymore"
I'm not sure where to report this, so I'll try here. Currently no badges are served anymore. Even the badges on your own github repo are affected:

![pugx badge poser](https://cloud.githubusercontent.com/assets/675062/7681372/1251d8e2-fd70-11e4-9bdc-647f727cb1aa.png)

[2015-05-18 13:13] liuggio commented on #146
OMG I've missed the alert email thanks.

[2015-05-18 13:16] #146 closed

[2015-05-18 13:16] liuggio commented on #146
thanks  @mikehaertl  for reporting  :+1:

[2015-05-18 13:19] mikehaertl commented on #146
Thanks for the quick fix.

[2015-06-26 11:29] giggsey opened #147 "Composer Packages that don't exist get a stacktrace displayed in image"
Example: https://poser.pugx.org/giggsey/libphonenumber-geocoder/v/stable ![Img](https://poser.pugx.org/giggsey/libphonenumber-geocoder/v/stable)

[2015-06-26 11:33] liuggio commented on #147
The packagist API are down and that packages isn't in cache...
Thanks for reporting it should show an invalid badges...

[2015-06-26 11:33] giggsey commented on #147
Ahh, I didn't even realise Packagist was down.
On 26 Jun 2015 12:33, "Giulio De Donato" <notifications@github.com> wrote:

[2015-06-26 12:02] liuggio commented on #147
btw this is fixed and deployed
https://github.com/PUGX/badge-poser/commit/e4ae7be993c84d557057bb352016af3a6e65774d

cc/ @seldaek

[2015-06-26 12:02] #147 closed

[2015-07-08 19:00] cirpo commented on #117
can't find any references about `totalDataOfAccessesByInterval` in the current master. Is this already solved?

[2015-07-08 19:20] cirpo commented on #43
@agiuliano such as? I would love to work on this :)

[2015-07-08 20:40] liuggio commented on #43
@cirpo we would love you

[2015-07-08 20:41] #143 closed

[2015-07-09 11:27] liuggio commented on #117
yes it is :*

[2015-07-09 11:27] #117 closed

[2015-10-13 13:24] stof commented on #96
I don't think Packagist exposes such data though

[2015-10-13 14:30] giorrrgio commented on #96
@stof you are right, but we can obtain the information with some effort (Idea: check which packages of the github organization have composer.json files and aggregate their packagist data)

[2016-03-15 02:23] euclid1990 opened #150 "Show No release label ?"
My package: https://github.com/euclid1990/php-google-suggest
On Pacakgist: https://packagist.org/packages/euclid1990/php-google-suggest
Current version: 1.0.0
![selection_069](https://cloud.githubusercontent.com/assets/5584709/13765859/c3d67430-ea8f-11e5-97f1-54850f8b5a35.png)

When I insert following markdown:
[code]
Its show
![selection_068](https://cloud.githubusercontent.com/assets/5584709/137

[2016-03-15 09:28] giorrrgio commented on #150
Seems okay now, it was probably related to an old image still cached

[2016-04-02 22:01] #150 closed

[2016-04-08 09:35] rquadling opened #152 "Trust failed"
Not sure how or who can deal with this ...

Using PHPStorm. Reading a README.md with poser badges. Getting ...

![image](https://cloud.githubusercontent.com/assets/12801/14379878/69b4ce8c-fd74-11e5-989d-d32cfcbbdbd7.png)

I don't know if this is a PHPStorm issue or Windows 10.  Or a cert chain issue.

[2016-04-08 09:40] rquadling commented on #152
And 10s later I find the issue...

https://community.letsencrypt.org/t/report-issues-when-certificate-is-not-trusted/4743

and a possible fix (PLEASE BE SURE YOU KNOW WHAT YOU ARE DOING AND DO IT ONLY IF YOU ARE SURE IT IS THE RIGHT THING TO DO) : https://community.letsencrypt.org/t/will-the-cross-root-cover-trust-by-the-default-list-in-the-jdk-jre/134/13

[2016-04-08 10:22] liuggio commented on #152
@rquadling woow thanks a lot!
We used godaddy for a while for their support for opensource projects, but I found this project lets'encrypt interesting...
As far as I understand the solution is only for the client side, and is not a solution for everybody.

But thanks I think we should think about it...

[2016-04-08 14:18] rquadling commented on #152
I think the solution that is perfectly reasonable with the following caveats.

1. You trust Let's Encrypt and the certificates that they sign.
2. You use Java and want to Java to trust Let's Encrpyt and the certificates that they sign.

I think the danger is that, as a normal user, I'm in position to evaluate that trust. We rely on the trust built by those that know more than we do.

I've got noth

[2016-04-13 10:07] liuggio commented on #152
@rquadling thanks alot, I prefer to not close it now...

[2016-05-30 16:41] #152 closed

[2016-05-31 09:41] liuggio opened #154 "Composer Lock - non git repo?"
The goal here is to understand and fix the behavior for non git repo.

@heiglandreas please can you look forward to this?

[2016-05-31 10:25] liuggio opened #155 "Composer Lock - add a cache layer"
Would be great to add an hour cache-layer to redis for the composer in order to avoid curl calls.

[2016-06-21 10:48] c9s opened #156 "Copy to clipboard button is broken"
When you click on it, it only copies "default" instead of the markdown

[2016-06-25 15:38] dm opened #157 "LetsEncrypt SSL certificate expiration"
Hi all,

Heads up that https://poser.pugx.org LetsEncrypt certificate is about to expire on June 30th.

Received the SSL warning in PHPStorm, so I presume it's validating and warning close to certificate expiration.

[2016-06-25 22:16] cirpo commented on #157
Thanks Daniel,

We will look into it.

Cirpo

On Saturday, 25 June 2016, Daniel Macedo <notifications@github.com> wrote:

--
@cirpo

mobile:  +44 7492 014 290
skype:   cirpolo

linkedin: http://linkedin.com/in/cinellialessandro
github:   http://github.com/cirpo

[2016-06-28 13:14] liuggio commented on #157
thanks @dm
with @cirpo we postponed http://screencloud.net/v/f48Q of 90 days...

still todo a cronjob twice per month: with `service apache2 stop && ~/certbot-auto  certonly -d poser.pugx.org --standalone --renew-by-default; service apache2 restart`

[2016-06-28 13:15] #157 closed

[2016-09-26 15:07] Quezler opened #160 "[High Priority] Expired SSL certificate poser.pugx.org"
### Dutch error
[code]

### English translation

Certificate @ poser.pugx.org valid till `26 September 2016 at 14:14` has expired

[2016-09-26 15:11] Quezler commented on #160
It appears to be a [letsencrypt](http://letsencrypt.org/) certificate, valid for only 90 days, something to keep in mind ⚠️

[2016-09-26 15:14] Quezler commented on #160
Issue of roughly 90 days ago @ #157

[2016-09-26 18:24] jacobfogg commented on #160
Yeah, you can't forget the auto-renew.with letsencrypt... simple'ish step, but super important. LOL

[2016-09-28 12:16] youngbobby commented on #160
Could this be the reason why poser badges are not being displayed on repositories at the moment ?

This is what I see on all Repos using this badge system.

<img width="557" alt="screen shot 2016-09-28 at 1 12 37 pm" src="https://cloud.githubusercontent.com/assets/876261/18913072/b6c6d404-857d-11e6-8f1e-4e38fa141870.png">

[2016-09-28 12:26] Quezler commented on #160
Yes, that is the reason i made this issue.

If you check your browser console (network tab), it will say that the SSL could not be checked for the domain the images originate from.

And thus, your browser 'protects' you by not loading the images 🙉

[2016-09-28 12:28] liuggio commented on #160
We are migrating to docker, in few hours will be fixed

Il mer 28 set 2016 14:26 Quezler <notifications@github.com> ha scritto:

[2016-09-28 13:51] liuggio commented on #160
done sorry for the delay our new infrastructure is new shiny and orchestrated :D

[2016-09-28 13:51] #160 closed

[2016-11-22 11:22] drAlberT commented on #156
It is caused by the `hidden` class applied to the markdown input

[2016-12-07 19:05] Bilge opened #161 "poser.pugx.org is down"
http://isup.me/poser.pugx.org

[2016-12-13 12:03] #161 closed

[2017-01-14 10:20] smalot opened #162 "Mix data with Github API : releases"
Hi,

Thanks for you tool, it is very useful.
It should awesome if you could use Github stats too. Indeed, when a project is packaged in ".phar", composer is not used, so download count is not incremented.

Is this case, only Github can provide such stat using for example this url:
https://api.github.com/repos/smalot/carbon14/releases

We can add all assets download count, or only those of the late

[2017-01-14 16:38] liuggio commented on #162
@smalot this is a good idea... how could be the implementation I mean which stat you'd add?

[2017-01-15 16:23] smalot commented on #162
It could be interesting to have the total download of any asset and the total download of all assets of the current release.

[2017-01-16 20:38] TildBJ opened #163 "Show default Badge instead of Exception, when calling badges (only composerlock and gitattributes) for non existing repositories"
Steps to reproduce:
* Call composerlock or gitattributes badge for a non exisiting repository e.g.:
https://poser.pugx.org/foo/bar/composerlock
A badge with an Exception will be generated

[2017-01-17 22:43] wapmorgan commented on #110
I made this and it looks that: ![Composer](http://xn--e1adiijbgl.xn--p1acf/badge/pnpunit/pnpunit)
it's just a svg with variable width
landing page for this http://xn--e1adiijbgl.xn--p1acf/

[2017-01-24 21:18] chadicus opened #165 "Dependents badge"
Would it be possible to create a badge that shows the number of dependents a package has?
Is there interest in such a badge to make a pull request worth while?

[2017-01-25 02:00] #165 closed

[2017-01-31 23:00] wapmorgan commented on #110
Also it supports differrlent sizes:
- ![bagde](http://xn--e1adiijbgl.xn--p1acf/bagde/composer/composer/0)

[2017-02-06 08:37] Svish opened #166 "Not updating?"
Tried adding these badges to my [README.md](https://github.com/Svish/php-cross-domain-proxy/blob/master/README.md), but they're not showing the latest version and license?

I assume they are maybe cached? For how long?

![capture](https://cloud.githubusercontent.com/assets/142162/22639636/4137a892-ec4f-11e6-8449-0755dc0a77b2.PNG)

[2017-02-06 09:35] liuggio commented on #166
Hi
Packagist has got a good caching mechanism for api it should be 1 h.

[2017-02-06 09:35] #166 closed

[2017-02-06 09:51] Svish commented on #166
Cool, thanks! 👍

[2017-03-01 16:48] harikt commented on #134
Thank you for looking into this. As there are various [options mentioned](https://github.com/PUGX/badge-poser/issues/134#issuecomment-49139486) I am closing the issue.

Thanks once again for your valuable time.

[2017-03-01 16:48] #134 closed

[2017-04-24 11:41] zeeshanu opened #167 "Packagist download badge does not work correctly"
Packagist Link: [https://packagist.org/packages/zeeshanu/opus](https://packagist.org/packages/zeeshanu/opus)

![image](https://cloud.githubusercontent.com/assets/16267321/25335491/b1e9434e-290c-11e7-982d-b6882a786ab0.png)

[2017-04-24 15:40] hpatoio commented on #167
I see `4`.

![image](https://cloud.githubusercontent.com/assets/249948/25345317/1105039c-2915-11e7-9239-5492d413564d.png)

I was probably cache.

[2017-04-24 16:22] #167 closed

[2017-04-27 07:31] AlexSkrypnyk opened #168 "DOCS: How long until poser picks up new package?"
Can we please have a sentence somewhere on the page that explains how long does it take for poser to pull for new projects from packagist, even if it is instantaneous.

Thanks

[2017-04-27 11:29] liuggio commented on #168
that's a great idea, would you like to provide this?

[2017-04-27 11:30] alexdesignworks commented on #168
I would if I knew how it works
On Thu, 27 Apr 2017 at 9:29 pm, Giulio De Donato <notifications@github.com>
wrote:

[2017-08-08 08:52] Kevinrob opened #170 "Website is down?"
I really like this service, but the website is down. 😭
https://poser.pugx.org/

[2017-08-08 15:29] wapmorgan commented on #168
What about just using any url with name of new package? It's updates instantly if package at packagist.org

[2017-08-10 06:28] Bilge commented on #170
Yes.

[2017-08-10 10:33] jails commented on #170
The service works for me but it's lagging so much that badges are considered as dead links by github.

[2017-08-10 13:59] HillLiu commented on #170
want to know if it's possible back or not?

[2017-08-11 13:05] seyfer commented on #170
There is an alternative
https://shields.io/

[2017-08-12 08:42] HillLiu commented on #170
It's back.

[2017-08-14 19:25] #170 closed

[2017-08-22 20:04] stof commented on #168
Is it actually instantaneous ? I don't get the right badge for `knplabs/knp-menu-silex`. Is it because it is a new package (and not only a new release ) ?

Btw, the search on https://poser.pugx.org does not find it.

[2017-08-22 20:09] stof opened #172 "Switching the displayed package should update the URL"
Each package has a canonical URL (like https://poser.pugx.org/show/knplabs/knp-menu-silex#badges), which can be accessed by clicking on the button near the package name after searching the package.
It would be great if this step was not needed, and changing the package would automatically update the URL through `history.pushState()`

[2017-08-23 12:25] liuggio commented on #168
Is it ok now?

[2017-08-23 13:03] stof commented on #168
well, it is OK now for this package now.

But it makes me think that there is a delay for badges to be updated, and this makes the request of this issue even more relevant: documenting on the website that there is such a delay, and what kind of delay it can be (is it minutes, hours or days ?)

[2017-10-24 03:35] razonyang opened #173 "How often does the badge updated?"
The stable release badge and license badge of my package is incorrect.
Is it possible to update the badge manually via some way?

[2017-10-24 13:52] #173 closed

[2017-11-03 13:13] daften opened #174 "Latest unstable release is calculated incorrectly"
For some reason it always seems to take dev-master as the latest unstable. However, AFAIK dev-master should be considered lower than e.g. 0.1.0-alpha1 when using version_compare.

This repository has this behaviour, as well as https://github.com/digipolisgent/robo-drupal-console as an example.

Related to #75

[2017-11-17 04:07] Bilge opened #175 "Flat format now looks identical to flat-square"
Previously, `flat` was a rounded image but now it has square corners and looks identical to `flat-square`. This doesn't seem correct nor desirable.

[2017-11-17 21:36] wapmorgan opened #176 "Badge with package name"
I think badge with package name will be usefull: [![Composer package](http://xn--e1adiijbgl.xn--p1acf/badge/pugx/badge-poser)](https://packagist.org/packages/pugx/badge-poser)
I host it on free hosting with a cheap domain, but soon it will be deleted. So I propose implement this type of badge in your project.

[2017-11-20 08:29] GinoPane commented on #168
Looking forward for this info too. Or for a button "refresh now".

[2017-12-16 19:22] wapmorgan commented on #176
Ok, I've hosted it on http://composer.network

[2017-12-16 19:38] #176 closed

[2018-01-18 15:14] nathan-fiscaletti opened #177 "All badges showing as gray"
All of the badges seem to be showing as only gray with lines through them as of this morning. Not sure what's going on.

![image](https://user-images.githubusercontent.com/1699763/35104939-fdce5316-fc2f-11e7-9b7f-18632dd1f67d.png)

[2018-01-18 16:46] giorrrgio commented on #177
Hi nathan,
others are reporting a packagist issue on the packagist api lib poser uses:
https://github.com/KnpLabs/packagist-api/issues/47

I see there's a PR involved, I'm not quite sure, but I fear some breaking changes where made to the packagist api recently.

[2018-01-18 19:38] Soullivaneuh commented on #177
Hi @giorrrgio, I just tweeted KnpLabs about it: https://twitter.com/soullivaneuh/status/954075266321715200

[2018-01-19 08:50] Jean85 commented on #177
The related PR got merged, and we have the 1.5.1 fix!

[2018-01-19 15:08] nathan-fiscaletti commented on #177
@Jean85, the problem still seems to persist though. Does PUGX need to implement a new version of the library as it’s not automated or something?

[2018-01-19 15:16] Jean85 commented on #177
@nathan-fiscaletti this is basically a Symfony app, so the 1.5.1 version of `KnpLabs/packagist-api` must be required and the app must be re-deployed by the maintainers.

[2018-01-19 21:33] groovili commented on #177
Still a problem even in KnpLabs repository [screenshot](http://joxi.ru/L216kqbH6oDZeA)

[2018-01-20 10:23] thunderer opened #178 "Badges render invalid images"
Hi, I have also experienced the issue reported in #177 but now the situation is different - there are [no images rendered](https://github.com/thunderer/Shortcode) at all. I dug up the issue a little more and saw that on the [badges site itself](https://poser.pugx.org/) they are rendered as long gray images with some text inside. This text is [actually an exception](https://poser.pugx.org/thunderer

[2018-01-20 11:25] thunderer commented on #177
I created a PR with the package upgrade and a couple other things, could you please take a look and tell me what you think?

[2018-01-20 21:03] Jean85 commented on #177
Problem seems to be fixed, right?

[2018-01-20 21:44] thunderer commented on #177
Right now I can see the badges but it wasn't working in today's morning. I'd still appreciate an opinion about #179.

[2018-01-20 23:33] erayd opened #180 "Licence badge is incorrect - displays 'no' instead of license"
The licence badge doesn't correctly detect the licence at present - it simply displays 'no' instead.

---

![scr-20180121-123230](https://user-images.githubusercontent.com/121486/35189023-1f874b9c-fea7-11e7-9012-3c8d7413b951.png)

[2018-01-21 22:27] curry684 commented on #180
Same at https://packagist.org/packages/omines/datatables-bundle, Packagist correctly lists MIT.

[2018-01-22 16:05] dereuromark commented on #180
I already asked the composer guys, they investigate if the error is maybe a regression in their API
If they deploy a fix, it will take a few hours to refresh the caches, they say.

[2018-01-23 05:26] erayd commented on #180
This now appears fixed - whoever sorted this out, thank you 👍 .

[2018-01-23 05:26] #180 closed

[2018-01-23 06:38] Seldaek commented on #180
Yup I fixed it yesterday it was a regression in our API, just took a while to fix everything as we cache those API calls for 12h

[2018-01-23 08:40] curry684 commented on #180
This also fixed the unstable reference along the way, was showing `dev-master` for that bundle  :)

[2018-02-19 11:15] Dominus77 opened #182 "http://poser.pugx.org Page Load Problem"
What happened to the resource http://poser.pugx.org/? When you click on the link, the connection attempt failed.

[2018-02-20 10:51] localheinz commented on #182
Also see https://github.com/badges/poser/issues/27. Badges don’t load.

[2018-02-20 22:00] dereuromark commented on #182
Hm, that's bad, seems like we need a different source for badges these days.

[2018-02-21 09:37] vtsykun commented on #182
I ran the mirror https://github.com/vtsykun/badge-poser to have a different source for badges, until the resource http://poser.pugx.org/ is unavailable

[2018-02-21 09:52] localheinz commented on #182
@vtsykun

Ha, nice!

I think it would be great to continue using http://poser.pugx.org/, if possible. Not sure, though, what the problem is. If funds for hosting are an issue, maybe we can help, for example, using https://www.patreon.com?

/cc @agiuliano @cirpo @davidino @eux @garak @giorrrgio @jakuza @leopro @liuggio @mmenozzi @odino

[2018-02-21 09:53] liuggio commented on #182
The server is now up again :)
sorry about that :(
and thanks for reporting.

[2018-02-21 09:54] localheinz commented on #182
@liuggio

Awesome, thank you!

But again, since most of the publishers of PHP packages probably use your badges, what do you think about opening up a Patreon account so we have a chance to support your efforts?

[2018-02-21 09:57] localheinz commented on #177
@nathan-fiscaletti

I think this can be closed. Also see #182.

[2018-02-21 09:57] localheinz commented on #178
@thunderer

I think this can be closed, Also see #182.

[2018-02-21 09:58] odino commented on #182
+1 for patreon :)

On Wed, Feb 21, 2018 at 1:55 PM, Andreas Möller <notifications@github.com>
wrote:

--
Nadalin Alessandro
http://www.linkedin.com/in/alessandronadalin
www.odino.org
www.twitter.com/_odino_

[2018-02-21 10:52] #178 closed

[2018-02-21 10:54] liuggio commented on #182
I think is a good idea

[2018-02-23 10:27] #182 closed

[2018-02-23 10:27] #177 closed

[2018-03-05 12:44] NikolaGavric94 commented on #182
Anyone experiencing the same issue again today?

[2018-03-05 12:44] localheinz commented on #182
@NikolaGavric94

Yes, actually.

[2018-03-05 12:46] BenMorel commented on #182
Same here, it's down again.

[2018-03-05 13:55] JellyBellyDev commented on #182
back online! 👍

[2018-03-08 07:23] JellyBellyDev commented on #163
I have applied your patch on it: #205

[2018-03-08 07:23] #163 closed

[2018-03-09 22:20] heathdutton commented on #168
It feels like a delay of at least a day?

[2018-03-10 22:42] Bilge commented on #175
Uh, no. It's still an issue. Take a look at all the badges on [status.scriptfusion.com](http://status.scriptfusion.com/).

[2018-03-10 23:13] Bilge commented on #175
@JellyBellyDev Please reopen this.

[2018-03-11 10:45] JellyBellyDev commented on #175
I do not understand... I see all the badges with rounded edges...

![schermata 2018-03-11 alle 11 43 11](https://user-images.githubusercontent.com/190820/37252481-8c7fd444-2521-11e8-8c7e-43550d1ec916.png)

[2018-03-11 11:36] Bilge commented on #175
How does that happen, the? Take a look at mine...

![image](https://user-images.githubusercontent.com/470626/37252845-7af6c832-2520-11e8-8a9e-2cf69b80427f.png)

[2018-03-11 13:33] JellyBellyDev commented on #175
on firefox on the mac it works well!
So I also think it's just a problem of firefox on windows! 😢

[2018-03-11 14:53] JellyBellyDev commented on #174
Hi @daften,
I analyzed the situation. In my opinion, this is not a bug.
If you want to define an unstable version you must configure the branch-alias option in extra section composer.json:
[code]
I hope I have been helpful!
Can I close?

[2018-03-11 17:07] Bilge commented on #175
It seems to be very specifically just Windows 7 Firefox. Confirmed on two separate Windows 7 machines, but cannot reproduce on Windows 8 or Windows 10. It may be something to do with SVG rendering support, but I cannot say why it would be platform-specific.

[2018-03-16 15:02] daften commented on #174
But why would the branch-alias be needed? By default when using versions, a dev version, even on master, should be lower than a tagged version.

[2018-04-10 16:17] elyday opened #220 "Wrong license are displayed"
Hello

i configured today a packagist package (https://packagist.org/packages/elyday/comment-server) and changed the license definition in the composer.json from MIT to GPL-3.0-only but the license badge will not be updated.

[2018-05-21 11:57] MrMitch opened #224 "composer.lock commit status is wrong"
For `mesavolt/named-enum`, the status of the `composer.lock` is wrong. It is detected as [![composer.lock](https://poser.pugx.org/mesavolt/named-enum/composerlock)](https://packagist.org/packages/mesavolt/named-enum)(shows uncommited ATM), but the `composer.lock` file is [actually committed to the repository](https://github.com/MesaVolt/NamedEnum/blob/develop/composer.lock).

[2018-05-21 11:59] MrMitch commented on #224
Example output from https://poser.pugx.org/

![image](https://user-images.githubusercontent.com/576772/40306474-1bdbb8a0-5cff-11e8-8433-6ffb459a791a.png)

[2018-06-07 12:38] codacy-bot opened #225 "Avoid unused private methods such as 'setLatestStableVersionNormalized'."
### [Codacy](https://app.codacy.com/app/garak/badge-poser/commit?cid=183224761) detected an issue:
#### Message: `Avoid unused private methods such as 'setLatestStableVersionNormalized'.`

#### Currently on:
+ **Commit**:  a8bd4a96c522a7cbf31d5fc6fcd59352c4c839fd
+ **File**:    [src/Badge/src/Model/Package.php](https://github.com/PUGX/badge-poser/blob/a8bd4a96c522a7cbf31d5fc6fcd59352c4c839fd/src/B

[2018-06-28 09:03] jrfnl opened #226 ""Copy to clipboard" is not working"
The "Copy to clipboard" button for copying the code for the complete set of badges is not working and just puts the word "default" on the clipboard.
https://github.com/PUGX/badge-poser/blob/9095ac2054a39c2bd8f015a45effc68ba1bf78b9/src/PUGX/BadgeBundle/Resources/views/Page/home.html.twig#L74

The small buttons to copy the code for the individual buttons do work.
https://github.com/PUGX/badge-poser/

[2018-06-28 09:26] jrfnl opened #227 "Wrong branch for unstable ?"
I'm wondering how the `unstable` branch is determined.

If no aliases RC/beta etc branches are found and no alias is passed via `composer.json`, to me, it looks like this always displays `dev-master`, while for projects using GitFlow, `master` will be the stable branch and `(dev-)develop` the unstable branch.

Could the GitHub API be used to retrieve the `default` branch and display that instead ?

[2018-06-28 09:34] jrfnl commented on #226
Oops. Looks like this is a duplicate of #156 which has only been open for two years.....

[2018-06-28 09:34] #226 closed

[2018-07-06 07:06] russianlagman opened #228 "Poser is broken"
Serving of badges is currently broken: https://poser.pugx.org/

[code]

[2018-07-09 07:47] JellyBellyDev commented on #228
We have fixed the problem on the systems side.
Thanks for the report. 👍

[2018-07-09 07:47] #228 closed

[2018-07-09 07:56] JellyBellyDev commented on #227
Currently the logic goes to look for the value set for `branch-alias`, alternatively it sets `master` as value.
Would you like to do a PR using the logic you proposed in the absence of the `branch-alias` information?
You should apply the change to the new version for we are going to put online: https://github.com/PUGX/badge-poser/tree/release/v3.0.0
Thank you

[2018-07-09 09:01] JellyBellyDev commented on #224
I think that not work because your default branch is not `master` but `develop`...
Badge poser searches the file `composer.lock` inside`reponame/blob/master/composer.lock`

[2018-07-09 09:03] JellyBellyDev commented on #220
I just checked now and it seems to work for me.
I close.

[2018-07-09 09:03] #220 closed

[2018-07-09 13:51] jrfnl commented on #227
No. I already spent too much time looked at the code and couldn't for the life of me figure out where to change it in this repo. If it would have been an obvious change, you would have received a PR already instead of an issue.

I haven't looked at the new repo/code yet, but can only do so much.

[2018-07-11 08:28] JellyBellyDev commented on #227
I checked the logic.
All release prerings on packagist are taken into consideration:
https://packagist.org/packages/digipolisgent/robo-drupal-console
On packagist there is dev-master. dev-master wins over everything on unstable.

[2018-07-31 05:28] Moskito89 opened #232 "Packagist doesn't display icons"
Viewing the README at Bitbucket displays the icons correctly:
https://bitbucket.org/wirbelwild/contact-form
Viewing the README at Packagist returns some errors:
https://packagist.org/packages/bitandblack/contact-form

Console output: Refused to load the image 'https://poser.pugx.org/bitandblack/contact-form/v/stable' because it violates the following Content Security Policy directive: "img-src 'se

[2018-10-30 09:41] JellyBellyDev opened #237 "Version bump symfony to 4.1"
Version bump symfony to 4.1 on [v3.0.0](https://github.com/PUGX/badge-poser/tree/release/v3.0.0) branch.

[2018-10-30 09:46] JellyBellyDev opened #238 "Add tests for BadgeSubscriber"
Add tests for [BadgeSubscriber](https://github.com/PUGX/badge-poser/blob/release/v3.0.0/src/EventListener/BadgeSubscriber.php) class.

[2018-10-30 09:50] JellyBellyDev opened #239 "Add tests for Stats"
Add tests for [Stats](https://github.com/PUGX/badge-poser/tree/release/v3.0.0/src/Stats) domain.

[2018-10-30 10:09] JellyBellyDev opened #240 "Add spinner to autocomplete component"
Add spinner to autocomplete component.

[2018-10-30 10:13] JellyBellyDev opened #241 "Add overlay on box with info badge after selected repo by autocomplete component"
Add an overlay on the badge box of the selected repo during the ajax call to pick up the new badges after selecting a new repo via the autocomplete component.

[2018-10-30 15:59] gnumoksha commented on #237
This issue consists in migrate all symfony dependencies to version 4.1 ? Any idea about the breaking changes one could face?

[2018-10-30 16:07] gnumoksha commented on #239
Unit tests? Any idea about edge cases that must be tested?

[2018-10-30 16:08] gnumoksha commented on #238
Unit tests? Any idea about edge cases that must be tested?

[2018-10-30 18:46] JellyBellyDev commented on #237
do not worry @gnumoksha , I'll take care of it! Thank you

[2018-10-31 10:52] JellyBellyDev commented on #239
Yep unit tests! The public function! ;)

[2018-10-31 10:52] JellyBellyDev commented on #238
Yep unit tests! The public function! ;)

[2018-10-31 10:53] JellyBellyDev commented on #237
There we thought!

[2018-10-31 10:53] #237 closed

[2018-10-31 14:35] Elfo404 commented on #240
Didn't mention this on me PR, but this can be closed due to #251

[2018-10-31 14:39] JellyBellyDev commented on #240
PR Merged!

[2018-10-31 14:39] #240 closed

[2018-10-31 14:54] JellyBellyDev commented on #241
PR merged!

[2018-10-31 14:54] #241 closed

[2019-03-21 14:43] garak opened #257 "Get rid of sensio/framework-extra-bundle?"
Current dev branch (`release/v3.0.0`) is requiring `sensio/framework-extra-bundle`, but such bundle is only used to exploit `@Cache` annotation in controllers.
Anyway, the same controllers are building responses using `ResponseFactory`, where cache headers are already set, resulting in a duplicate.
The only parameter I see missing in `ResponseFactory` is `$response->setPublic(true)`: if we add it,

[2019-03-21 15:34] JellyBellyDev commented on #257
sure? #refactoring #daje

[2019-04-24 17:23] chadicus opened #259 "Version 3 Release Schedule"
Is there a time frame for the release of version 3?

[2019-05-28 09:40] mtk3d opened #260 "Redis error in badge"
There is an error in lumen bagde: https://poser.pugx.org/laravel/lumen-framework/d/total.svg
[code]
<img width="1231" alt="Zrzut ekranu 2019-05-28 o 11 39 24" src="https://user-images.githubusercontent.com/12657846/58468169-59238900-813d-11e9-8f3e-f66ec177c8e8.png">

[2019-05-28 09:50] JellyBellyDev commented on #260
Now works! Right?

[2019-05-28 09:51] JellyBellyDev commented on #259
@liuggio ?

[2019-05-28 09:52] JellyBellyDev commented on #257
done by #258

[2019-05-28 09:52] #257 closed

[2019-05-28 09:54] JellyBellyDev commented on #232
to me it seems to work now.
close

[2019-05-28 09:54] #232 closed

[2019-05-28 09:56] #227 closed

[2019-05-28 09:57] JellyBellyDev commented on #260
it must have been a temporary problem.

[2019-05-28 09:57] #260 closed

[2019-05-31 11:36] mtk3d commented on #260
Yup, it's work now, thanks

[2019-06-03 12:26] mtk3d commented on #260
It's still doesn't work properly: https://poser.pugx.org/laravel/lumen-framework/d/total.svg
<img width="974" alt="Zrzut ekranu 2019-06-3 o 14 26 03" src="https://user-images.githubusercontent.com/12657846/58801690-8bd0f400-860b-11e9-9d2f-c3a2c0a0477c.png">

[2019-06-04 08:25] peter-gribanov commented on #260
I had a similar problem a few minutes ago. Now all is good.
But you still need disable a error reporting.
https://poser.pugx.org/happyr/doctrine-specification/v/stable.svg
![image](https://user-images.githubusercontent.com/1954436/58862747-0bb59780-86ba-11e9-994f-d45afe43423b.png)

[2019-06-04 08:49] JellyBellyDev commented on #260
We know, we are working hard on the new version of badge-poser where we won't have these problems! ;)

[2019-07-02 06:54] kwn opened #266 "Poser is broken :("
Hi guys, first of all thank you for the great work.

Today I found out that Poser is broken. Instead of the bade it generates:

[code]

Analysing the stack trace it looks like you run out of a hard drive space, so Redis cannot persist its cache. Thank you in advance for fix it!

[2019-07-04 07:28] Moskito89 commented on #266
And also the website tells for every package "Repository not found!". This is how it looks like:
![Bildschirmfoto 2019-07-04 um 09 27 20](https://user-images.githubusercontent.com/6805697/60647400-eee9bc80-9e3d-11e9-9405-57e000a39e75.png)

[2019-07-05 13:24] nick-zh commented on #266
I experience the same, any insight on this @liuggio ?

[2019-07-05 21:05] AlessandroMinoccheri commented on #266
It seems that know all is solved right?

[2019-07-06 16:55] kwn commented on #266
Looks good now! Thank you guys!

[2019-07-06 16:55] #266 closed

[2019-07-31 12:08] nick-zh commented on #174
Hey @JellyBellyDev

Somehow i seem to have an outdated unstable version:
https://github.com/jobcloud/messaging-lib/blob/master/composer.json

[2019-10-16 10:58] BenMorel commented on #168
Could the `PURGE` HTTP method be implemented, if we want to force reload a badge?

GitHub [supports this](https://stackoverflow.com/a/37000706/759866):

[code]

[2019-10-22 11:07] garak opened #268 "Replace guzzle with symfony/http-client"

[2019-10-22 11:09] JellyBellyDev opened #269 "Upgrade sentry and phpunit"

[2019-10-22 11:11] JellyBellyDev commented on #269
done

[2019-10-22 11:11] #269 closed

[2019-10-22 11:16] JellyBellyDev opened #270 "Add git hook for php-cs-fixer, phpunit and phpstan"
https://packagist.org/packages/brainmaestro/composer-git-hooks

[2019-10-22 18:43] ahmedash95 commented on #268
Hello, @garak I'm taking this one :)  will keep you posted

[2019-10-23 08:20] garak commented on #259
ping ping ping UP UP UP @liuggio

[2019-10-23 10:05] liuggio commented on #259
@liuggio  come on !!

[2019-10-23 11:48] JellyBellyDev commented on #259
@liuggio when? 😺

[2019-10-23 18:06] akshayachar2011 commented on #268
@garak : I am interested in replacing this.

[2019-10-24 03:55] akshayachar2011 commented on #268
@garak : I have created pull request https://github.com/PUGX/badge-poser/pull/271. Can you please review it.

[2019-10-25 21:07] wkiril commented on #270
I can try to work on this

[2019-10-29 11:47] JellyBellyDev commented on #270
Thanks @wkiril

[2019-10-29 11:47] #270 closed

[2019-12-06 14:27] Moskito89 commented on #224
I believe that this issue still exist. I have problems in all of my libraries. One is here: https://bitbucket.org/wirbelwild/idml-validator
The lock file is committed: https://bitbucket.org/wirbelwild/idml-validator/src/master/composer.lock but the badge says no: https://poser.pugx.org/bitandblack/idml-validator/composerlock

[2019-12-06 14:58] JellyBellyDev commented on #224
I'm sorry but the tools works only the repo github hosted!

[2019-12-06 14:58] #224 closed

[2020-03-23 17:09] garak commented on #155
Can we close this? It looks like it has been implemented

[2020-03-23 17:14] garak commented on #175
Support for Windows 7 ended on January 2020, so I guess we can close this.

[2020-03-23 17:14] #175 closed

[2020-03-23 17:14] JellyBellyDev commented on #155
Yep!

[2020-03-23 17:14] #155 closed

[2020-03-23 17:17] garak commented on #174
I agree with @JellyBellyDev and I think this issue can be closed

[2020-03-23 17:43] JellyBellyDev commented on #174
me too!

[2020-03-23 17:43] #174 closed

[2020-03-25 13:54] garak opened #281 "Customize error pages"
Our current error pages are the default one (see for example attached image with 500 error).
It would be nice to customize such pages
![Schermata da 2020-03-25 14-52-44](https://user-images.githubusercontent.com/179866/77543850-8d282180-6ea8-11ea-98ed-24c757023c41.png)

[2020-04-02 12:51] #259 closed

[2020-04-22 11:28] paul-thebaud opened #286 "500 error on my package"
Hello,

The server is returning a 500 HTTP status response when querying for my package.
Here is the URL : https://poser.pugx.org/snippet/all/?repository=phpunitgen%2Fconsole

Is this a bug or something my package does not contains?

Thanks.

[2020-04-22 12:31] JellyBellyDev commented on #286
Thanks for the report, we currently have delivery problems.

[2020-04-23 09:34] JellyBellyDev commented on #286
We're back: https://poser.pugx.org/show/phpunitgen/console#badges ;)

[2020-04-23 09:34] #286 closed

[2020-04-23 09:51] paul-thebaud commented on #286
Nice, thanks for this quick fix !

[2020-05-15 06:58] sentry-io[bot] opened #289 "TypeError: Argument 1 passed to App\EventListener\BadgeSubscriber::isABadgeController() must be of the type ..."
Sentry Issue: [BADGE-POSER-8](https://sentry.io/organizations/pugx/issues/1666849169/?referrer=github_integration)

[code]

[2020-05-15 07:12] garak opened #291 "Update sentry"
See attached image

![Schermata da 2020-05-15 09-11-44](https://user-images.githubusercontent.com/179866/82021976-20e9c300-968c-11ea-8a7c-9483a496a45c.png)

[2020-05-15 07:43] #289 closed

[2020-05-15 09:58] sentry-io[bot] opened #292 "TypeError: Argument 1 passed to App\Badge\Model\Package::setLicense() must be of the type string, array give..."
Sentry Issue: [BADGE-POSER-D](https://sentry.io/organizations/pugx/issues/1667528092/?referrer=github_integration)

[code]

[2020-05-15 12:13] #291 closed

[2020-05-15 15:33] JellyBellyDev commented on #292
Thanks @AlessandroMinoccheri

[2020-05-15 15:33] #292 closed

[2020-05-15 15:42] sentry-io[bot] opened #295 "GuzzleHttp\Exception\ConnectException: cURL error 28: Connection timed out after 1001 milliseconds (see https://curl.haxx.se/libcurl/c/l..."
Sentry Issue: [BADGE-POSER-K](https://sentry.io/organizations/pugx/issues/1667955791/?referrer=github_integration)

[code]

[2020-05-16 15:40] #295 closed

[2020-05-18 06:56] #268 closed

[2020-05-18 09:47] sentry-io[bot] opened #301 "GuzzleHttp\Exception\ConnectException: cURL error 28: Operation timed out after 2002 milliseconds with 0 bytes received (see https://cur..."
Sentry Issue: [BADGE-POSER-P](https://sentry.io/organizations/pugx/issues/1672556344/?referrer=github_integration)

[code]

[2020-05-18 11:33] #301 closed

[2020-05-19 09:48] #281 closed

[2020-05-19 10:29] JellyBellyDev commented on #156
In the new version this problem is gone! ;)

[2020-05-19 10:29] #156 closed

[2020-05-19 10:31] JellyBellyDev commented on #65
this problem is gone! ;)

[2020-05-19 10:31] #65 closed

[2020-05-19 10:35] JellyBellyDev commented on #73
Do you think it makes sense to keep still open this discussion?

[2020-05-19 10:58] JellyBellyDev commented on #96
a little too `curl` to show a small badge don't you think? :D

[2020-05-19 11:02] JellyBellyDev commented on #154
This problem is gone! ;)

[2020-05-19 11:02] #154 closed

[2020-05-19 11:47] JellyBellyDev commented on #168
in badge-poser there are no cache layers, if there are delays they are due to the bees of packagist or github! ;)

[2020-05-19 11:47] #168 closed

[2020-05-19 12:31] stof commented on #168
I think github is caching images in their camo proxy.

[2020-05-19 12:44] JellyBellyDev commented on #172
why? what is the advantage you see?

[2020-05-19 16:19] stof commented on #172
Allowing to link easily to the current package page by selecting the current URL, instead of having to remember to use a different way to get the canonical URL (this is even more confusing if you perform the package search from a package page rather than from the homepage, as the current URL actually refers to a package, but not the current one).

That's about making the single-page app behave pro

[2020-05-19 16:36] JellyBellyDev commented on #172
make sense!
@Elfo404, could you take care of it please?

[2020-05-19 17:09] Elfo404 commented on #172
Totally makes sense, when we implemented it we didn't think of it as SPA, but it actually is. Thanks for pointing it out @stof

I'll take a look asap, @JellyBellyDev can assign this to me?

[2020-05-19 18:10] JellyBellyDev commented on #172
Sure!!!

[2020-05-20 09:26] #172 closed

[2020-05-20 18:45] Elfo404 opened #316 "[UI/Frontend] General improvements / fixes"
I'm creating this umbrella issue as a follow up to a discussion with @JellyBellyDev to gather feedback and opinions on possible improvements on the frontend so that I can start addressing some of them.

## What I would like to do:

- add an `.nvmrc' file
- Update dependencies
- Style improvements
- Properly make this work as a single page app as suggested in #172, with a better implementation than

[2020-05-21 08:57] JellyBellyDev commented on #316
* in the autocomplete input the spinner overlaps the `x`

[2020-05-21 08:58] AlessandroMinoccheri opened #320 "Avoid to increment access when there is a page refresh"

[2020-05-21 08:58] JellyBellyDev commented on #316
* reduce headlines and buttons in the mobile version?

[2020-05-21 09:04] JellyBellyDev commented on #316
* when we show the badge preview make the images real previews with the appropriate link `target="blank"`?

[2020-05-21 16:33] JellyBellyDev opened #323 "Inflector::camelize" method is deprecated and will be dropped in doctrine/inflector 2.0"
[code]

[2020-05-22 15:34] AlessandroMinoccheri commented on #320
Closed by #324

[2020-05-22 15:34] #320 closed

[2020-05-27 06:31] garak commented on #323
This is weird, since doctrine/inflector 2 is already available, and `camelize` method is still there.

[2020-05-27 09:34] JellyBellyDev commented on #323
If you see the log in dev mode you can discover the deprecation errors!

[2020-05-27 09:38] garak commented on #323
I opened a PR on knplabs/packagist-api to use inflector 2, it should solve this issue

[2020-05-27 10:56] sentry-io[bot] opened #330 "Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException: No route found for "OPTIONS /laravel/framework/license.svg": Method Not Allowed (Allow: GET)"
Sentry Issue: [BADGE-POSER-X](https://sentry.io/organizations/pugx/issues/1675764711/?referrer=github_integration)

[code]

[2020-05-27 11:31] JellyBellyDev commented on #330
This is not a issue!

[2020-05-27 11:31] #330 closed

[2020-05-27 11:34] JellyBellyDev commented on #330
I set this type of error on sentry as ignore! ;)

[2020-05-27 11:38] garak commented on #330
Can't we, instead, configure our sentry client to not send it?

[2020-05-27 11:45] JellyBellyDev commented on #330
In my opinion it would not be correct, because we should configure to exclude all error for `Symfony\Component\HttpKernel\Exception\MethodNotAllowedHttpException` and we may miss out on others potential future errors! On sentry we can choose to ignore that specific error!
You know?

[2020-05-27 12:39] Elfo404 commented on #330
@JellyBellyDev I think if you only ignore them on sentry they still count towards the quota (https://forum.sentry.io/t/ignoring-errors-and-plan-rate-limit/1361) so IMHO we should do as @garak suggested, maybe not simply blacklisting all `MethodNotAllowedHttpException`s.

The thread is 3 years old tho, maybe is worth to double-check.

Before ignoring it anyway I would understand who is making that

[2020-05-27 13:27] JellyBellyDev commented on #330
I don't think we have quota problems!
I analyzed the headers and referer of these requests and they are all unpleasant situations.
For me we can close it here! ;)

[2020-05-28 08:39] #323 closed

[2020-06-02 05:37] Moskito89 opened #336 "Badges don't load"
All of my packages have blank grey badges since a few days.
For example in [kiwa/core](https://packagist.org/packages/kiwa/core), the version badge is [here](https://poser.pugx.org/kiwa/core/v).
Searching for the package at [https://poser.pugx.org](https://poser.pugx.org/show/kiwa/core) brings the same result...

Where is this problem coming from? What can I do now?
Thanks in advance!

[2020-06-03 08:51] JellyBellyDev commented on #336
Hi @Moskito89, thanks for the notice!
I'm sorry but actually badge-poser don't support source-code hosted on bitbucket or gitlab!
We will try to add support as soon as possible!

[2020-06-04 13:25] Moskito89 commented on #336
Thanks for the information. This is a little bit frustrating, because the badges used to work and now I have grey icons in all of my packages. :-(

[2020-06-04 13:25] #336 closed

[2020-06-04 15:22] JellyBellyDev commented on #336
I'm so sorry @Moskito89!
We put the support for bitbucket back on the roadmap!

[2020-06-04 15:29] Moskito89 commented on #336
Thank you, @JellyBellyDev! (Y)

[2020-06-04 15:36] JellyBellyDev opened #337 "Add support to sources hosted on bitbucket"
### Feature Request

Add support to sources hosted on bitbucket

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Try to use this library https://github.com/BitbucketAPI/Client as client to talk with bitbucket!
Use case: [kiwa/core](https://packagist.org/packages/kiwa/core)

Ref: #336

[2020-06-05 22:32] AlessandroMinoccheri commented on #337
Closed by #338

[2020-06-05 22:32] #337 closed

[2020-06-09 16:11] JellyBellyDev commented on #336
@Moskito89 support for bitbucket online: https://poser.pugx.org/show/kiwa/core 🚀

[2020-06-10 10:20] Moskito89 commented on #336
Works perfectly! Thank you very much!

[2020-06-24 00:41] rob006 opened #342 "Unstable badge displays old 0.2.0-beta2 release instead of 0.3.x-dev branch"
Package: https://packagist.org/packages/rob006/flarum-lang-polish

[![Latest Stable Version](https://poser.pugx.org/rob006/flarum-lang-polish/v/stable)](https://packagist.org/packages/rob006/flarum-lang-polish) [![Latest Unstable Version](https://poser.pugx.org/rob006/flarum-lang-polish/v/unstable)](https://packagist.org/packages/rob006/flarum-lang-polish)

I would expect that unstable badge will

[2020-06-24 00:48] rob006 commented on #342
This may be related to https://blog.packagist.com/composer-and-default-git-branches/

https://packagist.org/packages/rob006/flarum-lang-polish.json - while branch alias for `dev-master` is set as `0.3.x-dev`, version is not normalized:

[code]

`0.3.x-dev` is also not listed in list of versions, only `dev-master` is available.

[2020-06-24 08:59] JellyBellyDev commented on #342
@rob006 exactly! :(

[2020-06-24 16:16] rob006 commented on #342
It works fine for Symfony: ![](https://poser.pugx.org/symfony/symfony/v/unstable), while it is pretty similar situation. So it looks like it does not entirely depends on `version_normalized`. Could this different behavior between my package and Symony be related to `v` prefix in tags names?

[2020-06-24 16:34] rob006 commented on #342
`dev-master` has now `"default-branch":true` in package JSON - I guess it should be used to internally normalize this branch to `9999999-dev` (this is how Packagist handles it - default branch is always treated as the newest) and keep old behavior for `dev-master` branch.

[2020-06-24 19:17] rob006 commented on #342
`version_compare()` does not work as expected for versions with `v` prefix: https://3v4l.org/vpJCR
https://github.com/PUGX/badge-poser/blob/308e77170bd51e936f2ef7ed38f9b19e19140066/src/Badge/Model/Package.php#L83

Using [`Comparator` from `composer/semver`](https://github.com/composer/semver/blob/00915994bb1de62e750ae279669c9c5a57379957/src/Comparator.php) may be a better option in this case.

[co

[2020-06-30 16:04] JellyBellyDev commented on #342
@rob006 maybe it's related to this: https://github.com/badges/poser/issues/26#issuecomment-649021711?

[2020-06-30 16:35] rob006 commented on #342
Yeah, it refers to changes described in the same[ blog post](https://blog.packagist.com/composer-and-default-git-branches/). Previously `dev-master` was normalized to `9999999-dev` (which make it always the latest unstable branch), now it is not normalized at all and `dev-master` is returned as `version_normalized`.

[2020-07-02 09:07] rob006 commented on #342
Packagist fixed versions ordering on their website, but API response has not been changed: https://github.com/composer/packagist/commit/d313cb83984a0cc2123d91c51d159fd626d51311. I guess that Badge-Poser should use similar solution to handle edge cases like https://packagist.org/packages/friendsofphp/php-cs-fixer correctly.

[2020-07-28 11:15] JellyBellyDev opened #344 "[badges/poser] Upgrade dependency to V2"

[2020-07-31 07:49] #344 closed

[2020-10-05 13:04] XedinUnknown opened #380 "Service Down"
Looks like the [service is down][1], just like it was in #161.

[1]: https://downforeveryoneorjustme.com/poser.pugx.org

[2020-10-06 20:35] fabiocicerchia commented on #380
The service has been restored. Thank you for the report.

[2020-10-06 20:35] #380 closed

[2020-10-11 14:34] DonCallisto commented on #239
See https://github.com/PUGX/badge-poser/pull/391

[2020-10-11 17:18] DonCallisto opened #392 "Error: Incorrect whitelist config, no code coverage will be generated."
Related to https://github.com/PUGX/badge-poser/pull/391
See the build: https://app.circleci.com/pipelines/github/PUGX/badge-poser/282/workflows/8b32270e-4bf6-4c74-89af-53242dd10e0b/jobs/1162

[2020-10-11 22:47] DonCallisto commented on #392
See https://github.com/PUGX/badge-poser/pull/393

BTW I don't see any tool to collect the result of code coverage. Is it intended or is it missing?

[2020-10-12 07:42] JellyBellyDev commented on #392
was on the todo list of things to do!

[2020-10-12 07:47] DonCallisto commented on #392
There's an issue that I can tackle, or was just an "abstract" to do? Because I can set it up in a different PR.
If there's not an issue related, what provider (coveralls, codecov, etc) do you prefer?

[2020-10-12 07:57] JellyBellyDev commented on #392
Unfortunately there is no issue, we talked about it on slack!
I have no preferences about it! I leave the choice to the creator, the important thing is that we can then use a badge that shows the percentage in the readme! ;)

[2020-10-12 07:58] DonCallisto commented on #392
Ok. I'll work at this next days.

[2020-10-12 15:06] DonCallisto opened #394 "Upload code coverage and show percentage badge"
As per https://github.com/PUGX/badge-poser/issues/392#issuecomment-706948535

[2020-10-12 15:06] DonCallisto commented on #392
I think this could be closed.

[2020-10-12 15:06] #392 closed

[2020-10-12 15:11] DonCallisto opened #395 "Use a standard for mocking dependencies"
As per https://github.com/PUGX/badge-poser/pull/393#issuecomment-706952070

I would suggest to stick, for the moment, with PHPUnit built in library.
Two main reasons

1. It is still the most used, so we won't prevent any collaboration from contributors that doesn't know about Prophecy
2. The trait provided for Prophecy could introduce a regression due to Prophecy version 1.10 (see https://github.c

[2020-10-12 17:31] JellyBellyDev commented on #395
so your proposal would be to remove Prophecy and use phpunit exclusively?

/cc @garak @AlessandroMinoccheri

[2020-10-12 17:58] DonCallisto commented on #395
Removing it is not possible. Just don't use Prophecy for the reasons I've stated before.
If you take a look to linked issue, you'll notice that Prophecy won't let tests fail immediatly when an unexpected call is made upon a test double (since 1.10).
I think is better to stick with PHPUnit built-in system for the moment in order to avoid mistakes from new comers.

[2020-10-12 19:41] AlessandroMinoccheri commented on #395
It could be a solution to use PHPUnit built-in instead of Prophecy.
In my opinion, it's not clear if they will fix the bug immediately.
To change from PHPUnit built-in to Prophecy and vice versa isn't a big problem but we have to understand when the bug is solved which is the best implementation for us.

[2020-10-12 21:11] DonCallisto commented on #395
AFAIK that's not a bug in Prophecy but the desired behaviour. As a matter of fact, PHPSpec - wich uses only Prophecy as mocking library - is not affected because I suspect, internally it handles checks on double's method invokation differently.

The issue is in the trait and how PHPUnit handle (or, in this case, don't) these scenarios.

[2020-10-12 21:20] AlessandroMinoccheri commented on #395
ok, so I think that use PHPUnit built-in is the best way at the moment to mock dependencies.

[2020-10-13 07:52] JellyBellyDev commented on #395
ok guys! Thanks so much for the fruitful discussion! 🚀

[2020-10-15 18:11] MarcinOrlowski opened #403 "poser.pugx.org is down"
I am constantly getting timeouts. Also https://downforeveryoneorjustme.com/poser.pugx.org confirms

[2020-10-15 21:03] fabiocicerchia opened #404 "Improving Caching Headers & Hit Counters"
I think would be better to have some cache headers for each request allowing the proxy to efficiently cache the requests.
For example, the badge for the stable version can be cached longer than the number of downloads, let's say for 6h? As for the number of downloads once the approximation reaches the order of millions maybe could be 24h? Whereas at smaller numbers could be hourly.

This would ena

[2020-10-16 07:52] JellyBellyDev commented on #404
It's a very good idea for me! ;)

If move the hit on nginx how could we verify that the requested package really exists?
Currently if I'm not mistaken we are tracking many kinds of statistics on redis. Could it help to do some cleaning and only track things we show?

[2020-10-16 07:58] JellyBellyDev commented on #403
We are so sorry ... we are working hard to improve the stability of the architecture!

[2020-10-16 15:53] MarcinOrlowski commented on #403
Seems to work now. Thanks for great servce! Feel free to close unless it serves other purposes.

[2020-10-16 16:38] #403 closed

[2020-10-21 07:31] garak opened #408 "Limit number of results"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | yes
| BC Break    | no

#### Summary

Currently, when you search for a package, the autocomplete returns an undefined amount of results.
For example, if you start to search for a symfony package, the following URL is called via ajax: `https://poser.pugx.org/search_packagist?name=sym`
Such URL is retu

[2020-10-21 08:40] AlessandroMinoccheri commented on #408
Ok, I think it's necessary to do it.
Have you thought about creating a page to view all results or something similar?
Or is it not necessary?

[2020-10-21 09:15] garak commented on #408
Since we're talking about an autocomplete, there's no need to see all results.

I would to add a request: please do not open a PR to solve this issue now, we would like to keep it for our [Hacktoberfest](https://www.meetup.com/it-IT/PUG-Roma/events/274058045/)

[2020-10-22 13:24] MarcinOrlowski opened #410 "Version badge shows incorrect version"
I recently noticed that version badge reports incorrect version. The package is https://github.com/MarcinOrlowski/laravel-api-response-builder and recent version is **9**.0.1, but badge says **8**.0.1. Also `dev` badge is choosen oddly. There's `dev` branch, so why it picks `7.x` (not to mention there's `8.x` as well)?

![v](https://user-images.githubusercontent.com/8041294/96878475-32c16480-147b-

[2020-10-22 14:12] JellyBellyDev commented on #410
Hi @MarcinOrlowski ,
thanks to reporting! We have a layer of cache to show the version, for this you did not notice the updated version! 9.0.1 is now shown correctly!
For the unstable version we wait a little longer and you should see the correct one for him too! ;)

[2020-10-23 09:00] MarcinOrlowski commented on #410
I still there's something more than cache. IIRC version badge used to show version 9.0.0 already correctly, but now it shows 8.0.1 so it's not cached version. It's a wrong one.

This was never correctly shown. I never saw `dev` or `dev-dev` - always some other branches.

[2020-10-23 12:05] JellyBellyDev commented on #410
I don't understand i see the correct version:

![Schermata 2020-10-23 alle 13 59 29](https://user-images.githubusercontent.com/190820/97001078-10415100-1538-11eb-85e0-8de39e034d95.png)

@AlessandroMinoccheri please can you check this? Thanks!

[2020-10-23 12:10] AlessandroMinoccheri commented on #410
I can see the correct version.
Could it be a cache problem somewhere?

[2020-10-24 13:35] liuggio commented on #404
maybe we can reuse the cache-header from packagist, or maybe etag can work with image?

[2020-10-24 13:36] liuggio commented on #404
ops there's already a PR sorry.

[2020-10-24 14:26] fabiocicerchia commented on #404
It could be considered as a work in progress PR, open to anyone ;)

[2020-10-25 10:09] garak opened #412 "Improve performances"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | yes
| BC Break    |no

#### Summary

We could improve loading speed in homepage. I see two possible points (maybe other can be proposed):

* use smaller images for contributors
* load such images lazily

[2020-10-25 11:51] JellyBellyDev opened #413 ""Client::AUTH_HTTP_TOKEN" authentication method is deprecated"
`INFO   | PHP    User Deprecated: Using the "Client::AUTH_HTTP_TOKEN" authentication method is deprecated in knp-labs/php-github-api v2.15 and will be removed in knp-labs/php-github-api v3.0. Use "Client::AUTH_ACCESS_TOKEN" instead.`

what do you think if we upgrade the client version?

[2020-10-25 11:54] AlessandroMinoccheri commented on #413
IMHO we can try to upgrade the client version.

[2020-10-25 17:28] MarcinOrlowski commented on #410
Not sure. I see correct version for now too. If you see no possibility to be an backend issue, I am closing this ticket now as I cannot provide any additional information. Would reopen if issue reoccured.

[2020-10-25 18:05] JellyBellyDev commented on #412
I love the big image for the contributors!
I prefer the second proposal! ;)

[2020-10-25 18:24] garak commented on #412
Question is: we display images in 160x160 size, while we grab it from github in 400x400 size.

[2020-10-25 18:29] JellyBellyDev commented on #412
I know but the alternative by github is 80x80...

[2020-10-25 18:36] garak commented on #412
Are you sure? https://avatars2.githubusercontent.com/u/190820?s=160

[2020-10-25 18:39] JellyBellyDev commented on #412
in the past in the response of the bees there was no this format ... maybe it was added recently or maybe it is not standard and its online maintenance is not guaranteed.

[2020-10-25 18:54] garak commented on #412
I see that is specified in official docs, for example https://styleguide.github.com/primer/components/avatars/

[2020-10-26 07:46] garak opened #417 "Improve rendering on small screens (mobile)"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | yes
| BC Break    | no

#### Summary

This is an example of rendering on a small screen (taken from [PageSpeed](https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fposer.pugx.org%2F))
As you can seen, our call to action is not above the fold, (the "get yours" button is a bit of

[2020-10-26 08:15] JellyBellyDev commented on #412
great! then we could apply both points proposed! ;)

[2020-10-30 15:53] #408 closed

[2020-11-01 14:39] #412 closed

[2020-11-09 16:39] #417 closed

[2020-11-26 08:52] williamdes opened #445 "Copy all badges uses the phpunit/phpunit urls"
"Copy all badges" uses the phpunit/phpunit urls
![image](https://user-images.githubusercontent.com/7784660/100328671-10b48800-2fcd-11eb-9cfd-fb84f8bf6489.png)

[code]

[2020-11-28 14:06] ancarda opened #447 "Shields broken after repo was moved"
### Bug Report

#### Summary

I moved my repo from GitHub to SourceHut, and now the shields all show `- | -`.

* Packagist: https://packagist.org/packages/ancarda/psr7-string-stream
* GitHub (now a mirror): https://github.com/ancarda/psr7-string-stream/
* SourceHut: https://git.sr.ht/~ancarda/psr7-string-stream/

#### Current behavior

All shields show `- | -`, such as: https://poser.pugx.org/anca

[2020-11-29 20:42] AlessandroMinoccheri commented on #447
I think that the problem is SourceHut is not supported at the moment by our libraries to retrieve data from the repository.

[2020-11-30 10:10] JellyBellyDev commented on #447
@AlessandroMinoccheri exactly!
@ancarda we're sorry! Curiosity, why did you decide to migrate your sources?

[2020-11-30 10:11] JellyBellyDev commented on #445
@williamdes thanks for reporting!

[2020-11-30 18:28] ancarda commented on #447
I'm a bit confused by this, doesn't Poser pull statistics from Packagist? In that sense, shouldn't it be completely agnostic?

If not, how does Poser handle _self-hosted_ instances of, e.g. GitLab?

I've been unhappy with GitHub for some time. Sadly, many of the popular replacements - GitLab and Gitea - were essentially aiming to be a clone of GitHub. While they do solve the issue with propitiator

[2020-12-01 12:24] JellyBellyDev commented on #447
@ancarda we take some data from packagist and others from github and combine them to make badges.
To solve the problem you say, such as packages present on GitLab or Bitbucket, we simply add integration to other possible sources as fallback.
For example we currently support packages on github and bitbucket.
If you want to add support for SourceHut too (if they make bees available), your PR is welc

[2020-12-01 12:31] ancarda commented on #447
Another benefit of free software is I never risk misspelling "proprietary"! 😂  Which for some reason is a word I struggle to spell properly all the time.

[2020-12-01 18:55] ancarda commented on #447
Haven't seen code this clean and readable for some time! It'll be easy to add support for SourceHut.

Though, I can't shake the feeling that adding support for _specific hosting providers_ isn't the right thing to do. Ideally someone who self-hosts SourceHut, Gitea, GitLab, and so on should be able to use tools like Poser too.

It's difficult to fix this, but I posted [an idea for a possible way t

[2020-12-28 11:31] rob006 commented on #410
There is something wrong with this cache. For https://packagist.org/packages/rob006/flarum-lang-polish I have `v0.3.14` on https://poser.pugx.org/rob006/flarum-lang-polish/v/stable, while `v0.3.15` was released 3 months ago. So if it is cache, it is outdated by 3 months.
Curiously https://poser.pugx.org/rob006/flarum-lang-polish/v/stable?1 displays correct version.

Same with downloads counter:
76

[2020-12-31 00:12] BenMorel opened #478 "Badge shows very old download count"
### Bug Report

Hi, the [badge](https://poser.pugx.org/brick/math/downloads) for [brick/math](https://github.com/brick/math) shows 8.98M downloads:

![image](https://user-images.githubusercontent.com/1952838/103387604-ec385800-4b04-11eb-9307-e603c5b2e96d.png)

Even though the library has [more than 17M](https://packagist.org/packages/brick/math) downloads today. I've had this issue for months; IIR

[2020-12-31 10:25] AlessandroMinoccheri commented on #478
Hi @BenMorel, in that repository I can see the correct data, in the last months we have worked on cache problems, so sometimes you may have seen wrong data.
At the moment it seems that it's displayed the correct data.

[2020-12-31 11:14] BenMorel commented on #478
@AlessandroMinoccheri I does indeed, but when I opened the issue it did show `8.98`.
I'll report again here when this happens again.

[2020-12-31 11:36] AlessandroMinoccheri commented on #478
ok, @BenMorel we are still working to improve cache management.
For now, I close this issue but if you have again this problem please open a new issue and we can take a look at it!
Thanks :)

[2020-12-31 21:19] rob006 commented on #410
BTW: Examples above for version and downloads count works fine already, but monthly downloads are still outdated:

24 - https://poser.pugx.org/rob006/flarum-lang-polish/d/monthly
59 - https://poser.pugx.org/rob006/flarum-lang-polish/d/monthly?1

[2021-01-02 00:24] BenMorel commented on #478
Hi, it's happening again right now. `8.98M`.

[2021-01-02 07:18] fabiocicerchia commented on #478
@BenMorel I'm working on a fix on the cache in order to make sure it won't happen again. In the meantime, I've reset the cache so now the stats for https://poser.pugx.org/brick/math/downloads are showing `17.81 M`.

[2021-01-02 10:15] JellyBellyDev commented on #445
@fabiocicerchia this fix is on the master! Please can you do a new deploy?

[2021-01-02 10:30] JellyBellyDev commented on #410
Linked to this issue: https://github.com/PUGX/badge-poser/issues/478

[2021-01-02 21:57] fabiocicerchia commented on #445
It has been deployed on 6th Dec 2020 around 4PM. Could you please confirm it is fine?
Thank you ;)

[2021-01-02 22:08] williamdes commented on #445
Confirmed, thank you everybody !

[2021-01-02 22:08] #445 closed

[2021-01-03 12:01] BenMorel commented on #478
Now oscillating between the current value and `8.99M`. I understand caching is not always an easy game, but I don't understand how a very old value can still be in the cache?

[2021-01-12 18:09] Namoshek commented on #478
I need to +1 this unfortunately and I agree with @BenMorel that this can hardly be a caching issue. I noticed it with my [`php-mqtt/client` library](https://github.com/php-mqtt/client) which had shown `v1.0.0` on sunday after releasing it and has since then switched back to an even older version than the previous one, `v0.2.1`. There has been `v0.3.0` released (and also shown for some time) by 202

[2021-01-13 08:33] JellyBellyDev commented on #478
I think that with this [PR](https://github.com/PUGX/badge-poser/pull/479) we fix the problem! 🤞

[2021-01-13 21:06] BenMorel commented on #478
@JellyBellyDev Has this PR been deployed yet? I'm still seing `8.98M` at the moment!

[2021-01-13 23:13] fabiocicerchia commented on #478
@BenMorel it is a very weird issue, it seems somehow we get back that value and we store in the cache, so the wrong value is even more evident for longer times. We pushed another fix to make sure the cache is properly invalidated at regular times, we are testing it at the moment.
In the meantime, we'll investigate further about this behaviour.

[2021-01-27 20:55] BenMorel commented on #478
FYI, it worked fine for a few days, and it's now back to `8.98M`.

This value brings us back to ~ September 2020, if that helps.

[2021-01-30 20:26] BenMorel commented on #478
Happening today on another repo: https://poser.pugx.org/brick/money/downloads

Right now it shows `887.06k`, when it should be `1.99M`:

[![Total Downloads](https://poser.pugx.org/brick/money/downloads)](https://packagist.org/packages/brick/money)

This also brings us back to some time in September 2020. I think we might be onto something 🤔

[2021-03-10 19:32] ondrejmirtes opened #497 "Badge shows very old stable release"
### Bug Report

The latest release in phpstan/phpstan repo is 0.12.81, but the badge still shows 0.12.42: https://poser.pugx.org/phpstan/phpstan/v/stable

Thank you for this service, I'm very happy with it most of the time ❤️

[2021-05-17 11:54] AlessandroMinoccheri commented on #497
Hi @ondrejmirtes we did some fixes, have you still encountered problems?

[2021-05-17 11:55] AlessandroMinoccheri commented on #478
Hi @BenMorel  we did some fixes, have you still encountered problems?

[2021-05-17 11:57] ondrejmirtes commented on #497
It's fine, thank you very much!

[2021-05-17 11:57] #497 closed

[2021-05-17 19:35] BenMorel commented on #478
Hi @AlessandroMinoccheri, it works alright at the moment, thank you! I'll come back here in a few days to confirm that I haven't seen any new glitches.

Could you please give us some insights as to what was the issue?

[2021-05-17 20:25] AlessandroMinoccheri commented on #478
Hi @BenMorel we have updated some packages and packagist API also.
We have changed a little bit our cache management but the problem seems related to packagist API also.
As soon as possible we will add new features to debug better these problems.

[2021-05-17 20:25] #478 closed

[2021-05-30 10:10] JellyBellyDev commented on #394
done

[2021-05-30 10:10] #394 closed

[2021-05-30 10:24] JellyBellyDev commented on #316
done here: https://github.com/PUGX/badge-poser/pull/558

[2021-05-30 10:26] JellyBellyDev commented on #316
it's all done except "reduce headlines and buttons in the mobile version?" I move this issue in other anche i clone this! ;)

[2021-05-30 10:26] #316 closed

[2021-05-30 10:31] JellyBellyDev commented on #404
@fabiocicerchia we can close this?

[2021-05-30 10:33] JellyBellyDev opened #559 "[UX] reduce headlines and buttons in the mobile version?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Improve the ux in the mobile version by decreasing the size of texts and components.

[2021-05-30 10:39] JellyBellyDev commented on #413
it has been fixed! 🚀

[2021-05-30 10:39] #413 closed

[2021-05-30 10:41] JellyBellyDev commented on #239
it has been done! 🚀

[2021-05-30 10:41] #239 closed

[2021-05-30 10:42] JellyBellyDev commented on #238
it has been done! 🚀

[2021-05-30 10:42] #238 closed

[2021-05-30 10:46] JellyBellyDev commented on #43
I believe that this issue can be closed. thank you!

[2021-05-30 10:46] #43 closed

[2021-05-31 07:28] #559 closed

[2021-06-01 08:33] a-menshchikov commented on #410
I have the same problem with https://github.com/hslavich/OneloginSamlBundle
Actual latest stable version is 2.3.0, but "bager" detect it as 2.2.2 (that was released half an hour earlier).

[2021-06-01 08:51] JellyBellyDev commented on #410
![Schermata 2021-06-01 alle 10 51 07](https://user-images.githubusercontent.com/190820/120295262-46f9f980-c2c7-11eb-86da-2e85c08b767b.png)

sure? :)

[2021-06-01 09:07] a-menshchikov commented on #410
@JellyBellyDev it was exactly an half-hour ago.
It seems like a cache bug, but I have no idea where to look for it.

[2021-06-01 14:38] a-menshchikov commented on #410
![image](https://user-images.githubusercontent.com/2580489/120342024-12eefa80-c300-11eb-9eec-db6c320c4f25.png)
I see some less downloads count. =\

[2021-07-14 21:39] a-menshchikov commented on #410
@JellyBellyDev the bug with cache came back for https://github.com/hslavich/OneloginSamlBundle =(

[2021-07-15 07:52] JellyBellyDev commented on #410
Now i can see this:

![Schermata 2021-07-15 alle 09 51 45](https://user-images.githubusercontent.com/190820/125750527-26b28ad0-eb59-477c-b5dc-92cccbe40b84.png)

Where was the problem?

[2021-07-15 07:59] a-menshchikov commented on #410
@JellyBellyDev
Maybe I'm missing something: how long does pugx cache invalidate? I have released v2.4.2 at the morning yesterday, but after 15 hours the badge had still shown v2.4.1.

[2021-07-15 08:02] JellyBellyDev commented on #410
two hours, but consider that also the packagist api use a cache and I don't know what its TTL!

[2021-08-21 20:58] VincentLanglet opened #607 "Add php version badge (and maybe other dependencies)"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

According to the tests fixtures
https://raw.githubusercontent.com/PUGX/badge-poser/f71d0b72d22f481fdccf52f426eba3a59831b189/tests/Badge/Model/fixtures/packages/imagine-bundle.json
when the call is made to packagist, the `require` section is provided.

So a badge

[2021-08-23 08:26] AlessandroMinoccheri commented on #607
Thanks, @VincentLanglet!
I think it's a good idea and we can work to implement it.

[2021-08-30 12:42] #607 closed

[2021-09-05 06:56] #404 closed

[2022-01-22 23:25] ricardoboss opened #705 "Add a way for different styled badges"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

I'd like to be able to specify different styles for badges, namely `plastic`, `flat`, `flat-squared` and (maybe) `for-the-badge`.

| style | example
|---|---
| `plastic` | ![image](https://user-images.githubusercontent.com/6266356/150658644-d149fbfa-05f7-427c-97

[2022-01-24 17:38] JellyBellyDev commented on #705
I also remember this feature in previous versions. I'm afraid we lost them with the 3.0 upgrade.
Would you like to try to restore them?

[2022-01-24 17:46] ricardoboss commented on #705
Yes, I can dig into this and try to restore them. If I run into problems I'll ping you here, ok?

[2022-01-24 17:50] JellyBellyDev commented on #705
Of course! Thanks so much! 😎

[2022-01-24 17:55] JellyBellyDev commented on #705
**Tips**
- library used: `badges/poser`
- in the old docs I found this: https://github.com/PUGX/badge-poser/blob/v2.2.3/src/PUGX/BadgeBundle/Resources/views/Page/home.html.twig#L239

[2022-01-27 00:23] ricardoboss commented on #705
@JellyBellyDev everything done. I suppose I will need to update some docs as well.

[2022-01-27 13:55] JellyBellyDev commented on #705
Assume well! ;)
https://github.com/PUGX/badge-poser/pull/707#issuecomment-1023228591

[2022-02-13 02:38] ricardoboss commented on #705
Another possible solution if the data is available in JSON: shields.io

[2022-02-14 11:50] JellyBellyDev commented on #705
I would prefer not to make our product dependent on an additional external service (shields.io)...

[2022-02-14 12:20] ricardoboss commented on #705
No, I meant not as an alternative renderer, but rather as an alternative to badge-poser.

[2022-02-14 12:24] JellyBellyDev commented on #705
So would you like to throw all this good work you've done in the trash?

[2022-02-14 14:05] ricardoboss commented on #705
No of course not, but future visitors might want to consider alternatives.

[2022-02-14 14:26] JellyBellyDev commented on #705
I'm sorry but I'm not understanding. What are you proposing to do? :)

[2022-02-14 14:58] ricardoboss commented on #705
I'm not proposing anything. I just wanted to tell future visitors of this issue (maybe found via Google) that there may be no need to use `badge-poser` if you have all information you want to display on your badge available via JSON.

This applied to my use-case, so I no longer need to use badge-poser and my issue is no longer _my_ issue. I will of course still work on my PRs to fix this issue for

[2022-02-14 15:35] JellyBellyDev commented on #705
Ok, now it's all clear to me. Thank you

[2022-02-21 09:39] ricardoboss commented on #705
Waiting for https://github.com/badges/poser/pull/89 to get merged so a new version of it can be released. Once that happened, I can update and merge https://github.com/PUGX/badge-poser/pull/733 to fix this issue :)

[2022-02-28 15:21] garak opened #738 "Description can be empty"
### Bug Report

|    Q            |   A
|---------------- | ------
| BC Break        | no
| Library Version | latest
| PHP version     | latest

#### Summary

Description of a package can be an empty string, see for example https://packagist.org/search.json?q=magefan/module-community

This is causing an exception:

[2022-02-28 16:41] garak commented on #738
See https://github.com/KnpLabs/packagist-api/issues/80

[2022-02-28 17:16] JellyBellyDev commented on #705
Hey @ricardoboss, you are online! 🚀

[2022-02-28 17:16] #705 closed

[2022-02-28 17:18] ricardoboss commented on #705
Thank you @JellyBellyDev for your support!

[2022-03-01 09:48] #738 closed

[2022-04-17 17:28] AlessandroMinoccheri opened #769 "Removing parameters from services adding dictionaries"
### Feature Request

Removing parameters from services adding dictionaries

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | yes
| BC Break    | yes

#### Summary

I am thinking to remove all parameters from services file like:

[code]

In my opinion, is better to have dictionary files to store this information and remove dependencies parameters into `SnippetGenerator.

[2022-04-18 08:09] JellyBellyDev commented on #769
It's a nice idea to me! It's an improvement also to DX side to the maintainability of the software.
Thanks @AlessandroMinoccheri

[2022-04-20 07:29] heiglandreas commented on #447
This still seems to be an issue with code hosted on gitlab.

I could understand that *some* badges don't work with other services than github. But the latest version, and espechially the download numbers are plainly taken from packagist and should at least work independent from the service hosting the public repo.

I'll see to find a way around that. Expect a PR at one point ;-)

[2022-04-22 10:44] #769 closed

[2022-04-22 11:53] AlessandroMinoccheri commented on #447
@heiglandreas have you already started doing the PR?
I can try to work on GitLab client for missed badges.

[2022-04-22 12:01] heiglandreas commented on #447
I was *just* going to start to check what's going on :grin:

Had to fix some other issues first. So feel free to go ahead. Though I would have approached the whole issue to check where individual access would be necessary in the first place and tried to make it as independent as possible so that different clients might not be necessary any more...

But perhaps we can tackle the issue from two side

[2022-04-22 12:06] AlessandroMinoccheri commented on #447
It makes sense for me, I try to work with the GitLab client and the next step could be yours about being independent for clients if it's possible 😁

[2022-04-22 12:19] heiglandreas commented on #447
Absolutely! The for me annoying point is that the Repo-CLient (Github/Bitbucket/Gitlab et al) is only relevant for the composer.lock and the gitattributes badge. All others could live without that but still require it...

I might start with separating that :wink:

[2022-04-26 13:57] AlessandroMinoccheri commented on #447
@heiglandreas do you have an example of a public repository on GitLab and packagist to test?

[2022-04-26 14:01] heiglandreas commented on #447
Nothing easier than that :wink:

https://packagist.org/packages/stella-maris/clock

[2022-04-26 14:57] #447 closed

[2022-06-12 02:38] xurizaemon opened #813 "What data privacy/retention policies apply to badge requests from poser.pugx.org?"
|    Q            |   A
|---------------- | ------
| Library version | pugx/badge-poser
| PHP version     | x.y.z

### Support Question

When these badges are added to a package's README, applications (incl browsers on Github, Gitlab) viewing the README may request images from URLs such as `https://poser.pugx.org/composer/composer/v`.

The host organisation behind the web service may see a range o

[2022-10-10 12:31] garak opened #850 "Wrong badges in this repo"
This is a screenshot of our current badges (the ones shown in the README of this repo):
![Schermata del 2022-10-10 14-28-55](https://user-images.githubusercontent.com/179866/194866551-d4f8a972-2fd9-4df6-abdb-05a3d375bb1b.png)
As you can see, we have a couple of problems to solve:

1) our "unstable" is shown as "v1.0.0-RC1". This is incorrect. We need to add a new branch (with a name like "3" or "3

[2022-10-10 15:04] #850 closed

[2022-10-15 13:12] Bilge commented on #410
Now they all show "No Release", for all packages.

[2022-10-15 17:30] fabiocicerchia opened #866 "HTTP protocol used while displaying badges in homepage"
### Bug Report

#### Summary

HTTP protocol used while displaying badges in homepage

#### Current behavior

While loading the home page there are some errors in the console, and the url lockpad is not showing the website as secure.

![Screenshot from 2022-10-12 20-01-53](https://user-images.githubusercontent.com/11521/195999943-8063598b-bfc3-4e09-8119-297ef449569f.png)

#### How to reproduce

Ope

[2022-10-15 17:31] fabiocicerchia opened #867 "CirceCI integration is not working"
### Bug Report

#### Summary

No badges related to CircleCI are visibile.

#### Current behavior

The internal API requests are not working.

Additional point: the v1 is deprecated and next year will be removed, v2 is the way to go.

#### How to reproduce

No badges are working

#### Expected behavior

Badges should work

[2022-10-17 07:09] sentry-io[bot] opened #868 "ErrorException: Deprecated: unserialize(): Passing null to parameter #1 ($data) of type string is deprecated"
Sentry Issue: [BADGE-POSER-8J](https://sentry.io/organizations/pugx/issues/3673578040/?referrer=github_integration)

[code]

[2022-10-17 07:28] sentry-io[bot] opened #869 "TypeError: App\Controller\SnippetController::isValidRepositoryName(): Argument #1 ($repository) must be of t..."
Sentry Issue: [BADGE-POSER-90](https://sentry.io/organizations/pugx/issues/3673810923/?referrer=github_integration)

[code]

[2022-10-17 09:22] JellyBellyDev commented on #410
Thanks for reporting @Bilge! We have fix the regression! ;)

[2022-10-17 09:50] #869 closed

[2022-10-24 15:50] sentry-io[bot] opened #877 "Error: Call to a member function getTotal() on null"
Sentry Issue: [BADGE-POSER-91](https://sentry.io/organizations/pugx/issues/3678091599/?referrer=github_integration)

[code]

[2022-10-24 16:01] #877 closed